{{!-- <body class="hold-transition layout-top-nav"></body> --}}
<div class="wrapper">

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark"> IOTopía <small> </small></h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="card">
             
            </div>

            <div class="card card-primary card-outline">
              <div class="card-body">
                <h5 class="card-title">IOTopía: Convierte sensores en datos inteligentes. Plataforma IoT que registra, almacena y visualiza datos en tiempo real con gráficas interactivas, facilitando la toma de decisiones informadas y optimizando operaciones en diversos sectores </h5>
                <a href="/users/signin" class="card-link">Ya estoy registrado</a>
                <a href="/users/signup" class="card-link">Registrarme</a>
                <a href="/about" class="card-link">Más info</a>
              </div>
            </div><!-- /.card -->
          </div>
          <!-- /.col-md-6 -->
          <div class="col-lg-6">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title m-0">¿Que es IoT?</h5>
              </div>
              <div class="card-body">
                
                <p class="card-text">IoT (Internet of Things) es un concepto tecnológico que se refiere a la interconexión de dispositivos físicos y objetos cotidianos a través de internet. Estos dispositivos, conocidos como "sensores" o "dispositivos inteligentes", están integrados con sensores, software y conectividad que les permiten recolectar y compartir datos de manera automatizada.</p>
                
              </div>
            </div>

            <div class="card card-primary card-outline">
              <div class="card-header">
                <h5 class="card-title m-0">Sensor</h5>
              </div>
              <div class="card-body">
                

                <p class="card-text">Un dispositivo electrónico que detecta y responde a cambios en su entorno físico o químico. Proporciona datos esenciales para el funcionamiento de dispositivos inteligentes en el Internet de las cosas (IoT), permitiendo la adaptación al entorno y la toma de decisiones automatizadas en tiempo real.</p>
              
              </div>
            </div>
           
            </div>
          </div>
          <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
    <div class="p-3">
      <h5>Title</h5>
      <p>Sidebar cossssntent</p>
    </div>
  </aside>
  <!-- /.control-sidebar -->


</div>
<!-- ./wrapper -->

